@model List<Web.Models.SupportedPackageDto>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kentico Cloud Course generator</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>

    <section class="section">
        <div class="container">
            <h1 class="title">
                Courses
            </h1>
            <p class="subtitle">
                Use to generate & test course data
            </p>

            <div>

                @foreach (var supportedCourse in Model)
            {

                <div class="card" style="margin-top: 16px">
                    <header class="card-header has-background-info">
                        <p class="card-header-title has-text-white">
                            @supportedCourse.Package.DisplayTitle
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            Course Id: <strong>@supportedCourse.Package.CourseId</strong>
                        </div>
                        <div class="content">
                            <div>
                                Project id: <strong>@supportedCourse.ProjectId</strong>
                            </div>
                        </div>
                        <div class="content">
                            Description: @supportedCourse.Package.Description
                        </div>

                        <div class="content">
                            Production data
                            @if (supportedCourse.ProdLog != null)
                            {
                            <ul>
                                <li>Pages: <strong>@supportedCourse?.ProdLog?.Pages</strong></li>
                                <li>Blocks: <strong>@supportedCourse?.ProdLog?.Blocks</strong></li>
                                <li>Articles: <strong>@supportedCourse?.ProdLog?.Articles</strong></li>
                                <li>Components: <strong>@supportedCourse?.ProdLog?.Components</strong></li>
                            </ul>
                            }
                            else
                            {
                                <em>Production log not available</em>
                            }
                        </div>

                        <div class="content">
                            Preview data
                            @if (supportedCourse.PreviewLog != null)
                            {
                            <ul>
                                <li>Pages: <strong>@supportedCourse?.PreviewLog?.Pages</strong></li>
                                <li>Blocks: <strong>@supportedCourse?.PreviewLog?.Blocks</strong></li>
                                <li>Articles: <strong>@supportedCourse?.PreviewLog?.Articles</strong></li>
                                <li>Components: <strong>@supportedCourse?.PreviewLog?.Components</strong></li>
                            </ul>
                            }
                            else
                            {
                                <em>Preview log not available</em>
                            }
                        </div>

                        <footer class="card-footer">
                            <div class="card-footer-item">
                                <a target="_blank" href="@Url.RouteUrl("api", new {controller = "generate", action = "index", courseId = supportedCourse.Package.CourseId, projectId = supportedCourse.ProjectId, debug = true, usePreview = false})">Rebuild prod</a>
                                &nbsp;<span class="is-size-6">( @supportedCourse.ProdLog?.TimestampUTc)</span>
                            </div>
                            <div class="card-footer-item">
                                <a target="_blank" href="@Url.RouteUrl("api", new {controller = "generate", action = "index", courseId = supportedCourse.Package.CourseId, projectId = supportedCourse.ProjectId, debug = true, usePreview = true})">Rebuild preview</a>
                                &nbsp;<span class="is-size-6">( @supportedCourse.PreviewLog?.TimestampUTc)</span>
                            </div>
                        </footer>
                    </div>
                </div>
            }
            </div>
        </div>
    </section>
</body>
</html>
